@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


:root {
    --color-black: #000;
    --color-white: #fff;
    --color-boton-inicio-sesion: #29487d;
    --color-inicio-sesion-fondo: #fff;
    --color-texto-login: #ff293B;
    --color-footer: #F8F9FA;
    --color-texto-color-nosotros: #000;
}


.margenes {
    margin: 5px;
    padding-right: 60px;
    border-radius: 6px;
}

#boton-login {
    background: var(--color-botonLogin);
    color: var(--color-white);
    padding: 0 20px ;
    margin-left: 80px;
    border-radius: 10px;
}
.color1{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.boton1 {
    font: size 18px; 
    font-weight: bold;
}
.imagen {
    max-height: 38rem;

} 

.alinear{
    text-align: justify;
}

.linea{
    width: 100%;
    height: 1px;
    background-color: rgb(87, 87, 87);
}


/* HEADER */
/* .Menu {
    display: flex;
    background-color: black;
    height: 50px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 1000px;

/* ESTE ES EL BODY */

.imagen-fondo {
    background-image: url("../img/fondocasa.jpg");
    background-size:cover;
}

/* LOGIN */

.tamaño-carrusel-contacto {
    width: 118%;
    margin-left: -50px ;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -100px;
}

.facebook-p {
    text-align: center;
    padding: 30px;
    width: 350px;
}

#pUno {
    color: var(--color-texto-login); 
    font-size: 24px;
    margin-top: 20px;
    margin-left: -200px;
    font-family: sans-serif;   
}

#form-login {
    background-color: var(--color-inicio-sesion-fondo); 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    margin-left: 40px;
    width: 300px;
}

.formInputs-column {
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}

.passwordEmailNumber {
    padding: 10px 8px;
    border: 1px solid #ccc; 
    border-radius: 3px; 
    font-size: 14px;
}

.linea-horizontal {
    width: 100%; 
    height: 1px;
    background-color: #ccc; 
    margin: 15px 0; 
}

#buttonLogin {
    background-color: var(--color-boton-inicio-sesion);
    color: var(--color-inicio-sesion-fondo); 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
    margin-top: 5px;
}

#buttonLogin:hover {
    background-color: #3b5b7f;
}

#olvidar-clave {
    color: var(--color-boton-inicio-sesion);
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
}

#olvidar-clave a {
    color: inherit;
}

#CreateNew {
    background-color: #428bca;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
}

#CreateNew:hover {
    background-color: #5090e1;
}


/* NOSOTROS */

.container-nosotros {
    margin-left: 3%;
    margin-right: 3%;
    color: var(--color-black);
    text-align: justify;
}

.container-nosotros-fondo {
    /* background-image: url("../img/fondocasa.jpg"); */
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

/* .imagen-fondo {
    opacity: 0.5;  
} */
.texto-color-nosotros{
    color: var(--color-texto-color-nosotros);
    font-size: 20px;
}

#imagen-fondo-nosotros {
    margin-bottom: 250px;
}


/* CONTACTO */

#imagen-fondo {
    background-image: url("../img/apto-fondo.jpg");
}
#botonLogin {
    background: var(--color-botonLogin);
    color: var(--color-white);
    padding: 0 20px ;
    margin-left: 80px;
    border-radius: 10px;
}

.boton-flotante {
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 100;
    background-color: #0B5ED7;
    padding: 10px 10px;
    cursor: pointer;
    width: 140px;
    text-decoration: none;
}

.boton-flotante a {
    color: #fff;
    text-decoration: none;
}

/* ESTILO PARA HOJA DE FOOTER  */

#id-footer {
background-color: var(--color-footer) ;
margin-top: 5%;
}

.footer-linea {
    border-top: var(--color-black) solid 1px;   
}

.footer {
    padding: 10px;
    margin-left: 37%;
}

#whatsapp {
    width: 30px;
}

#instagram {
    width: 30px;
    border-radius: 50%;
}

#twitter{
    width: 30px;
    border-radius: 50%;
}

#facebook{
    width: 30px;
}

.linea-vertical {
    background-color: var(--color-black);
    width: 1px;
    height: 100%;
    margin: 0 auto;
}

.tamaño-letras {
    font-size: 1rem !important;
}

.tamaño-letras-numero{
    text-decoration: none !important;
}

.tamaño-letras a {
    display: inline-block;
    text-decoration: none; 
    color: #007bff;
}

.tamaño-letras a:hover { 
    background-color: #007bff;
    color: white;
}

.body-contacto {
    background-image: url("../img/fondocasa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}


/* NUEVO */

#body-reg-log {
    font-family: sans-serif;
    /* margin-left: 10%; */
    padding: 20px;
    background-image: url("../img/fondocasa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.row-reg-log {
    display: flex;
}

.col-reg-log {
    padding: 10px 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 345px;
}

.col-reg-log-dos {
    padding: 10px 95px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 345px;
    margin-right: 210px;
}

section {
    margin-bottom: 20px;
}

.h2 {
    text-align: center;
    color: #ddd;
}

.formInputs-column {
    display: flex; 
    flex-direction: column; 
}

.formInputs-column > input,
.formInputs-column > button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    /* margin-left: -10px; */
}

.formInputs-column-registro > input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 136%;
    margin-left: -48px;
}



/* .formInputs-column > button {
    background-color: #2d25c1; 
    color: white;
    cursor: pointer;
} */

.linea-horizontal {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

#olvidar-clave a {
    color: #2d17d1;
    text-decoration: none;
}

#form-registo {
    margin-left: 10px;
}

#boton-registro {
    background-color: #2d25c1;
    color: white;
    padding: 5px 100px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: -37px;
}

#crear-cuenta {
    background-color: #2d25c1;
    color: white;
    padding: 5px 63px;
    cursor: pointer;
    border-radius: 2px;
}

#button-login {
    background-color: #2d25c1;
    color: white;
    padding: 5px 63px;
    cursor: pointer ;
    border-radius: 2px;

}