:root {
    --color-black: #000;
    --color-white: #fff;
    --color-botonLogin: #1977f1;
    --color-boderLogin: #ddd;
    --color-fondoLogin: #f5f5f5;
}

/* LOGIN */

.container {
    padding: 20px;
    border: 1px solid var(--color-boderLogin);
    border-radius: 5px;
    background-color: var(--color-fondoLogin);
    
}

#foto-perfil-login{
    border: var(--color-black) solid 2px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 80px;
    margin-bottom: 10px;
}

.alinear-contenedor-login{
    padding: 20px;
    border: 1px solid var(--color-boderLogin);
    border-radius: 5px;
    background-color: var(--color-fondoLogin);
    width: 300px;
    margin-left: 500px;
}

.margenes {
    margin: 5px;
    padding-right: 60px;
    border-radius: 6px;
}

.border-input{
    border: transparent;
}

#botonLogin {
    background: var(--color-botonLogin);
    color: var(--color-white);
    padding: 0 20px ;
    margin-left: 80px;
    border-radius: 10px;
}

/* CONTACTO */

#imagen-fondo {
    background-image: url("../img/apto-fondo.jpg");

}


/* ESTILO PARA HOJA DE FOOTER  */

.footer-linea{
    border-top: var(--color-black) solid 1px;    
}

.footer {
    padding: 10px;
    margin-left: 37%;
}

#whatsapp {
    width: 50px;
}

#instagram {
    width: 50px;
    border-radius: 50%;
}

#twitter{
    width: 50px;
    border-radius: 50%;

}
#facebook{
    width: 50px;
}